
<mat-card (click)="openMoviesDetails(movie)" style="margin: 10px;">
  <mat-card-header>
      <mat-card-title><strong>Movie: "{{ movie.title }}"</strong></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- <p>
      Director: <strong>{{ hero.director }}</strong>
    </p>
    <p>
      Producer: <strong>{{hero.producer}}</strong>
    </p> -->
    <!-- <p>
      Gender: <strong>{{ hero.gender }}</strong>
    </p>

    <p>
      Hair:  <strong>{{ hero.hair_color }}</strong>
    </p>
    <p>
      Height: <strong>{{ hero.height }}cm</strong>
    </p>
    <p>
      Weight: <strong>{{ hero.mass }}kg</strong>
    </p> -->
  </mat-card-content>
</mat-card>
